<nav class="border-gray-200 mt-2">
  <div class="flex justify-between items-center mx-auto">
    <div class="">
      <%= link_to image_tag("imagen-logo.png", class: "w-20 h-20 rounded-md"), "/images" %>
    </div>

    <div class="flex items-center gap-4">
      <%= link_to "Imagenについて", "/about", class: "text-[#3182ce]" %>
      <!-- TODO: ログインとサインアップはユーザーがログインしているかどうかで表示を変える -->
      <% if user_signed_in? %>
        <%= link_to "画像を作成", "/images/new", class: "text-[#3182ce]" %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-[#3182ce]" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "text-[#3182ce]" %>
        <%= link_to "サインアップ", new_user_registration_path, class: "text-[#3182ce]" %>
      <% end %>
    </div>

  </div> 
</nav>
